<app-navbar></app-navbar>
<div class="page ">
    <section class="pt-5 pb-5">
        <h1 class="m-auto text-center">RESERVATION</h1>
        <div>
            <div class="container container no-gutters col-12 espace">
                <div class="row  justify-content-center">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <section class = "prices">
                          
                          
                                <table class="tableau">
                                  
                               
                                <tr>
                                  <th class="purple">AGE</th>
                                  <th class="purple">TRIBUNE FAMILIALE</th>
                                  <th class="purple">TRIBUNE H'HONNEUR</th>
                                  <th class="purple">TRIBUNE PRIVILEGE</th>
                                  <th class="purple">CARRE D'OR</th>
                                </tr>
                                  <tr>
                                    <th class="blue">de 0 a 5 ans</th>
                                    <th>gratuit</th>
                                    <th>gratuit</th>
                                    <th>gratuit</th>
                                    <th>gratuit</th>
                                  </tr>
                                  <tr>
                                    <th class="blue">de 6 a 17 ans</th>
                                    <th> 10 euros</th>
                                    <th> 15 euros</th>
                                    <th> 20 euros</th>
                                    <th> 50 euros</th>
                                </tr>
                                <tr>
                                    <th class="blue">adults</th>
                                    <th> 25 euros</th>
                                    <th> 35 euros</th>
                                    <th> 50 euros</th>
                                    <th> 90 euros</th>
                                  </tr>
                                
                                </table>
                    
                          
                        </section>
                        <img src="https://image.noelshack.com/fichiers/2019/29/3/1563373656-plan.png" alt="plan" class="plan">


                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="First name">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                          </div>
                        </div>

                          <div class="form-row">
                            <div class="form-group col-md-6 col-md-6 col-sm-12">
                              <label for="inputEmail4">Email</label>
                              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputPassword4">Password</label>
                              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputAddress">Adresse</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2">Adresse 2</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputCity">ville</label>
                              <input type="text" class="form-control" id="inputCity">
                            </div>
                          
                      
                          </div>
                          
                          

                            <div class="form-row align-items-center">
                              <div class="col-auto my-1">
                                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                  <option selected>nombre adult</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">4</option>
                                  <option value="3">5</option>
                                  <option value="3">6</option>
                                  <option value="3">7</option>
                                </select>
                              </div>
                            
                                <div class="col-auto my-1">
                                  <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                                  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>nombre enfant</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">4</option>
                                    <option value="3">5</option>
                                    <option value="3">6</option>
                                    <option value="3">7</option>
                                  </select>
                                </div>
                              </div>
                              <button type="submit" class="btn btn-primary">reserver</button>
                          </form>
                        </div>
                  
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>