
<div style="text-align:center">
  <app-navbar></app-navbar>
<div class="page">
  <div class="opacity">
      <section class="pt-5 pb-5 ">
          <h1 class=" text-center ">Bienvenue au cirque</h1>
          
          <div>
              <div class="container container no-gutters col-12 ">
                  <div class="row justify-content-center ">
                      <div class="col-lg-6 mb-5 mt-3 mr-2 col-md-6 col-sm-12 row picture zoom colonne ">
                          <img src="https://image.noelshack.com/fichiers/2019/29/3/1563352725-bospectacle.jpg" alt="Card image cap " class="col-12 " />
                          <p class="m-auto text-center "><br>Les plus beaux spectacles du monde<br><br> </p>
                      </div>
                      <div class="col-lg-6 mb-5 mt-3 ml-2 col-md-6 col-sm-12 row picture ">
                          <img src="https://image.noelshack.com/fichiers/2019/29/3/1563352847-artiste.jpg" alt="Card image cap " class="col-12 " />
                          <p class="m-auto text-center "><br>Des artiste qui nous viennent du monde entier<br><br></p>
                      </div>
                      <div class="col-lg-6 mb-5 mt-3 mr-2 col-md-6 col-sm-12 row picture ">
                          <img src="https://image.noelshack.com/fichiers/2019/29/3/1563355350-bonbon.jpeg" alt="Card image cap " class="col-12 " />
                          <p class="m-auto text-center "><br>des confiserie a vous faire toucher le bonheur<br><br></p>
                      </div>
                      <div class="col-lg-6 mb-5 mt-3 ml-2 col-md-6 col-sm-12 row picture ">
                          <img src="https://image.noelshack.com/fichiers/2019/29/3/1563355066-liion.jpeg " alt="Card image cap " class="col-12 " />
                          <p class="m-auto text-center "><br>des animaux sauvages des plus dangeureux<br><br></p>
                      </div>
  
  
                  </div>
              </div>
          </div>
      </section>
  </div>
  </div>
</div>