<div style="text-align:center">
<section class=" ">
  
    
    <div class="page">
        <div class="container container no-gutters col-12 ">
            <div class="row justify-content-center ">

                <div class="col-lg-4 mb-5 mt-3 mr-2 col-md-3 col-sm-12 row  ">
                  
                   <img src="https://image.noelshack.com/fichiers/2019/29/3/1563362602-clown2.gif" class="imgtail"> 
                </div>
                <div class="col-lg-3 mb-5 mt-3 ml-2 col-md-3 col-sm-12 mr-2 row picture ">
                    <p>pour nous contacter sur les reseaux sociaux =></p>
                    <ul class="sm">
                      <li>
                        <a href="#"><img src="https://www.facebook.com/images/fb_icon_325x325.png" class="img-responsive"></a>
                      </li>
                      <li>
                        <a href="#"><img src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c521.png" class="img-responsive"></a>
                      </li>
                      <li>
                        <a href="#"><img src="https://banner2.kisspng.com/20180617/opo/kisspng-snapchat-logo-messaging-apps-5b2606fba53981.6244371415292188116768.jpg" class="img-responsive"></a>
                      </li>
                    </ul>
                    
                </div>
                <div class="col-lg-3 mb-5 mt-3 mr-2 col-md-3 col-sm-12 row ">
                    <img src="https://image.noelshack.com/fichiers/2019/29/3/1563362362-lion1.gif" alt="lionimg" class="lionimg">
                </div>


            </div>
        </div>
    </div>
</section>
