<app-navbar></app-navbar>
<div class="page ">
  <section class="pt-5 pb-5 ">
      <h1 class="m-auto text-center ">NOTRE HISTOIRE</h1>
      
      <div class="article">
          <div class="container container no-gutters col-12 espace">
              <div class="row content-center ">
                  <div class="col-lg-6 mr-5   picture zoom colonne ">
                    <img src="https://image.noelshack.com/fichiers/2019/29/3/1563374806-viellephoto.jpeg" alt="">
                  </div>
                  <div class="col-lg-4 ml-5  row picture zoom colonne ">
                    <p>tout a commencé en 1850 ,Lorem ipsum dolor sit amet consectetur adipisicing elit
                      . Ratione dignissimos est praesentium libero adipisci tenetur nihil nostrum?
                       Deserunt excepturi, necessitatibus fugiat ullam quia dolorum facilis quaerat
                        ducimus debitis doloribus nostrum.<br><br>
                      Lorem ipsum dolor sit amet consectetur 
                      adipisicing elit. Laboriosam dolore .</p>
                    

                  </div>

              </div>
          </div>

          <div class="container container no-gutters col-12 espace">
              <div class="row content-center ">
                  <div class="col-lg-6 mr-5   picture zoom colonne ">
                    <img src="https://image.noelshack.com/fichiers/2019/29/3/1563375699-cirque50.jpg" alt="">
                  </div>
                  <div class="col-lg-4 ml-5  row picture zoom colonne ">
                    <p>puis en 1950 ,Lorem ipsum dolor sit amet consectetur adipisicing elit
                      . Ratione dignissimos est praesentium libero adipisci tenetur nihil nostrum?
                       Deserunt excepturi, necessitatibus fugiat ullam quia dolorum facilis quaerat
                        ducimus debitis doloribus nostrum.<br><br>
                      Lorem ipsum dolor sit amet consectetur 
                      adipisicing elit. Laboriosam dolore </p>
                  </div>

              </div>
          </div>

          <div class="container container no-gutters col-12 espace">
              <div class="row content-center ">
                  <div class="col-lg-6 mr-5   picture zoom colonne ">
                    <img src="https://image.noelshack.com/fichiers/2019/29/3/1563375998-cirque80.jpg" alt="">
                  </div>
                  <div class="col-lg-4 ml-5  row picture zoom colonne ">
                    <p>dans les année 80 ,Lorem ipsum dolor sit amet consectetur adipisicing elit
                      . Ratione dignissimos est praesentium libero adipisci tenetur nihil nostrum?
                       Deserunt excepturi, necessitatibus fugiat ullam quia dolorum facilis quaerat
                        ducimus debitis doloribus nostrum.<br><br>
                      Lorem ipsum dolor sit amet consectetur 
                      adipisicing elit. Laboriosam dolore </p>
                  </div>

              </div>
          </div>

          <div class="container container no-gutters col-12 espace">
              <div class="row content-center ">
                  <div class="col-lg-6 mr-5   picture zoom colonne ">
                    <img src="https://image.noelshack.com/fichiers/2019/29/3/1563375893-cirquemoderne.jpg" alt="">
                  </div>
                  <div class="col-lg-4 ml-5  row picture zoom colonne ">
                    <p>aujoud'hui ,Lorem ipsum dolor sit amet consectetur adipisicing elit
                      . Ratione dignissimos est praesentium libero adipisci tenetur nihil nostrum?
                       Deserunt excepturi, necessitatibus fugiat ullam quia dolorum facilis quaerat
                        ducimus debitis doloribus nostrum.<br><br>
                      Lorem ipsum dolor sit amet consectetur 
                      adipisicing elit. Laboriosam dolore  </p>

                  </div>

              </div>
          </div>
      </div>
  </section>
</div>
<app-footer></app-footer>
