<app-navbar></app-navbar>

<div class="page ">
    <section class="pt-5 pb-5 ">
        <h1 class="m-auto text-center ">DATE ET LIEU DE RENDEZ-VOUS</h1>
        
        <div>
            <div class="container container no-gutters col-12 ">
                <div class="row justify-content-center ">
                    <div class="col-lg-4  row picture zoom colonne ">
                      <img src="https://image.noelshack.com/fichiers/2019/29/3/1563365077-sexy.gif" alt="">
                    </div>
                    <div class="col-lg8  row picture zoom colonne ">

                      <table>
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Ville</th>
                          </tr>
                        </thead>

                        <tfoot>
                          <tr>
                            <td>Date</td>
                            <td>Ville</td>
                          </tr>
                        </tfoot>

                        <tbody>
                          <tr class="ligne-paire">
                            <td>11/02/19 au 21/02/19</td>
                            <td>Evreux</td>
                          </tr>

                          <tr class="ligne-impaire">
                              <td>05/03/19 au 15/03/19</td>
                              <td>Dreux</td>
                            </tr>
                            
                            <tr class="ligne-paire">
                                <td>27/03/19 au 06/04/19</td>
                                <td>Mante la jolie</td>
                              </tr>
    
                              <tr class="ligne-impaire">
                                  <td>18/04/19 au 28/04/19</td>
                                  <td>Chartres</td>
                                </tr>
                        </tbody>
                      </table>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>


<app-footer></app-footer>