.page {
    margin-top: -3%;
    background-image: url('https://image.noelshack.com/fichiers/2019/29/2/1563283900-pistevide.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section {
    background-color: rgba(209, 203, 205, 0.7);
}


img {
    width: auto;
    height: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    margin-top: 8%;
}
h1{
    font-size: 50px;
    margin: 50px;
}

h5{
    font-size: 30px;
}