<app-navbar></app-navbar>
<div class="page ">
    <section class="pt-5 pb-5">
        <h1 class="m-auto text-center">les plus beaux spectacle</h1>
        <div>
            <div class="container">
                <div class="row  content-center">
                    <div class="col-12 offset-lg-1 col-lg-10 mt-3 cadre1">
                        <div class="col-12 offset-lg-1 col-lg-10 mt-3">
                            <div class="bd-example">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="https://image.noelshack.com/fichiers/2019/29/3/1563367604-accrobat.jpg" class="d-block w-100 " alt="..." class="image">
                                            <div class="col-12 offset-lg-1 col-lg-10 mt-3">
                                                <div class="text">
                                                    <h5>ACCROBATS</h5>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item text">
                                            <img src="https://image.noelshack.com/fichiers/2019/29/3/1563367725-speclown.jpg" class="d-block w-100" alt="..." class="image">
                                            <div class="">
                                                <h5>CLOWNS</h5>
                                                
                                            </div>
                                        </div>
                                        <div class="carousel-item text">
                                            <img src="https://image.noelshack.com/fichiers/2019/29/3/1563368096-spetigre.jpg" class="d-block w-100" alt="..." class="image">
                                            <div class="">
                                                <h5>DES FAUVES</h5>
                                                
                                            </div>
                                        </div>
                                        <div class="carousel-item text">
                                            <img src="https://image.noelshack.com/fichiers/2019/29/3/1563368305-spejongle.jpg" class="d-block w-100" alt="..." class="image">
                                            <div class="">
                                                <h5>JONGLEURS</h5>
                                                
                                            </div>
                                        </div>
                                        <div class="carousel-item text">
                                            <img src="https://image.noelshack.com/fichiers/2019/29/3/1563368439-spemoto.jpg" class="d-block w-100" alt="..." class="image">
                                            <div class="">
                                                <h5>LES CASCADEURS</h5>
                                                
                                            </div>
                                        </div>
                                        <div class="carousel-item text">
                                            <img src="https://image.noelshack.com/fichiers/2019/29/3/1563368830-spedanse.jpg" class="d-block w-100" alt="..." class="image">
                                            <div class="">
                                                <h5>LES DANSEURS ET LES DANSEUSES</h5>
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>